{% extends 'base.html' %}
{% block content %}


<h1>Pekerjaan yang cocok untuk anda</h1>
    {% if jobs %}
    <table border="1">
        <thead>
         <tr>
            <th>Pekerjaan</th>
            <th>deskripsi</th>
            <th>requirement calon pekerja</th>
            
         </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
         <tr>
            <td>{{ job[1] }} </td>
            <td>{{ job[2] }} </td>
            <td>{{ job[3] }} </td>
            <td><a href="/form_pelamar/{{ job[0] }}">Daftar</a></td>
            <td><a href="/daftar_pelamar/{{ job[0] }}">Lihat</a></td>
         </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No jobs found matching your experience.</p>
    {% endif %}



{% endblock %}